body {
  font-family: Arial, sans-serif;
  background: #0e0e0e;
  color: #fff;
  text-align: center;
  padding: 30px;
}

input {
  width: 60%;
  padding: 12px;
  border-radius: 6px;
  border: none;
}

button {
  padding: 12px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #b71c1c;
  color: #fff;
}
